* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero {
    width: 100%;
    height: 100vh;
    background: #181818;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 8% 0 8%;
}
.logo {
    color: #fafafa;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
    font-weight: bold;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover {
    color: #808080;
    transition: .4s;
}

.a-navbar {
    color: white;
    text-decoration: none;
}
.container {
    padding: 70px 0 0 0;
    margin-left: 630px;
}
.content-slide {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.imgslide {
    display: block;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: rgb(255, 255, 224);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.8);
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
pre:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0,0,0);
}
.content-slide .numberslide {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*responsive*/
@media screen and (max-width: 800px) {
    .content-slide {
        padding: 8px 50px 12px 50px;
    }

    .next {
        right: 50px;
        border-radius: 3px 0 0 3px;
    }
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from{opacity: .4;}
    to{opacity: 1}
}

@keyframes fade {
    from{opacity: .4;}
    to{opacity: 1;}
}
.container .page {
    text-align: left;
    padding-top: 10px;
    margin-left: 55px;
}

.page .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    display: inline-block;
    transition: background-color 0.6s ease;
    border-radius: 50%;
}
.page .active, .page .dot:hover {
    background-color: silver;
}
.any-text {
    width: 500px;
    text-align: justify;
    margin-left: 20%;
    margin-bottom: 50%;
    color: white;
}
.any-text h2 {
    font-size: 18px;
}
.any-text h5 {
    font-size: 15px;
    margin-top: 5px;
}
.any-text h4 {
    font-size: 15px;
    margin-top: 2;
}